.main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img1 {
  margin-top: 60px;
  /* margin-left: 255px; */
}
.main__left {
  width: 100%;
  margin-left: 50px;
}
.text1 {
  font-size: 50px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #063042;
}
.text1 span {
  color: #efba00;
}
.text2 {
  font-size: 38px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: black;
}
.text2 i {
  color: #efba00;
}
.text2 span {
  color: #063042;
}
.sub {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: black;
}
.sub .cc {
  color: #0a4f6d;
}
.sub .cb {
  color: #efba00;
}
.main__left a {
  text-decoration: none;
  color: #fff;
  background-color: #efba00;
  padding: 7px;
}
